.footer{

    &-container{
        background-color: rgb(15, 10, 10);

        &-top{
            color: whitesmoke;
            display: flex;
            gap:4rem;
            justify-content: space-between;
        }

        &-bottom{
            color:whitesmoke;
            display:flex ;
            justify-content: space-between;

            &-left{
                color: whitesmoke;
            }

            img{
                height: 50px;
                width:100px;
                margin-right: 10px;
            }
        }
    }
}